#wrapper {
	width: 100%;
  background-color: white;
  margin: 0 auto;
}

#header{
  height: 200px;
  width: 100%;
  background-color: #E6E6FA;
  margin: 0;
  position: absolute;
}

a:link {
  text-decoration: none;
	color: white;
}

a:visited {
  text-decoration: none;
	color: white;
}

a:hover {
  text-decoration: none;
	color: black;
}

a:active {
  text-decoration: none;
	color: black;
}

.logo{
  margin: 10px 20px 0px 70px;
  width:160px
}

#tabs{
	display: block;
  margin-left: auto;
  margin-right: auto;
	width:700px;
	height: 40px;
}

.tab1{
	float: left;
	text-align: center;
	width:85px;
	height: 35px;
	background-color:#4B548B;
	padding-top: 15px;
	margin:0px 0px 0px 70px;
  text-align: center;
  font-family: 'Courier New', sans-serif;
  font-weight:500;
  font-size:17px;
  color: white;
}

.picture{
  width:100%;
	display:inline-block;
	margin-left: auto;
  margin-right: auto;
  padding:140px 0px 10px 0px;
}

.content{
	display:block;
	margin-left: auto;
  margin-right: auto;
	height: auto;
	width: 100%;
}

.AboutUs{
	float: inherit;
	width:100%;
	color: #4B548B;
  font-family: 'Courier New', sans-serif;
  font-weight:500;
	font-size:16px;
	padding: 10px 0px 0px 00px;
}

a.two:link {
  text-decoration: underline;
	color: #4B548B;
}

a.two:visited {
  text-decoration: none;
	color: #4B548B;
}

#footer{
  height: 300px;
  width: 100%;
	background-color: #E6E6FA;
  margin: auto;
  clear: both;
  position: absolute;
	align-items: center;
	position: absolute;
}

.CenterText{
	text-align: center;
}

.logo2{
	display:block;
	margin-left: auto;
  margin-right: auto;
	padding-top: 10px;
	width:190px;
}

.Social{
  float: right;
  width:30px;
  margin: 2px 30px 10px 0px;
}
