body{
	color:black;
	font-family: "Arial";
	background-color:white;
}

#wrapper{
	width:1340px;
	margin:0 auto;
	background-color:white;
}

#header{
	height:50px;
	text-align:center;
	background-color:#AAAF99;
	padding-top:2px;
	padding-bottom: 25px;
	text-align:center;
}

#logo{
	position: absolute;
	height: 74px;
	width: 74px;
	left: 15px;
	top: 10px;
}

#leftbody{
	float:left;
	width:190px;
	height: 640px;
	background-color:#D2D6C7;
	padding:5px;
}

a:link {
  color: black;
  background-color: transparent;
	text-decoration: none;
}

a:hover {
  color: black;
  background-color: #F7E6D3;
	text-decoration: none;
}

#HomePage{
  position: fixed;
  left: 65px;
  top: 100px;
}

#FunFacts{
  position: fixed;
  left: 65px;
  top: 150px;
}

#Quiz{
  position: fixed;
  left: 65px;
  top: 200px;
}

#rightbody{
	float:right;
	width:1130px;
	height:640px;
	background-color:#F7E6D3;
	padding:5px;
}

#sources{
  font-style: italic;
  color: grey;
}

#Footer {
  text-align:center;
  	height:50px;
  	clear:both;
}

#Clock {
  float: right;
  margin-right: 20px;
}
