body{
	background-color: green;
	font-family: "Times New Roman", Times, serif;
}

.box{
	margin-top: 10px;
	margin-right: 1%;
	margin-bottom: 10px;
	margin-left: 1%;

	border: 2px dashed black;
}

.TextOne{
	color: red;
	font-size: 12px;
	text-align: left;
	padding-top: 5px;
	padding-left: 5px;
}

.TextTwo{
	color: darkgreen;
	font-size: 12px;
	text-align: left;
	padding-bottom: 5px;
	padding-left: 5px;
}

.TextThree{
	color: purple;
	font-size: 12px;
	text-align: left;
}
