body{
	background-color: white;
	font-family: "Times New Roman", Times, serif;
}

.box{
	margin-top: 20px;
	margin-right: 1%;
	margin-bottom: 20px;
	margin-left: 1%;

	border: 2px dashed purple;
}

.content{
	color: black;
	font-size: 12px;
	text-align: center;
	padding-top: 200px;
	padding-bottom: 10px;
}

.text{
	color: green;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
}

.moreText{
	color: orange;
	font-size: 30px;
	display: inline-block;
}

sup{
	color: red;
	vertical-align: super;
}

.believeText{
	color: purple;
	font-size: 8px;
	text-align: right;
}

span{
	color: yellow;
	font-size: 8px;
}
