#wrapper{
    width: 1500px;
    height: 1000px;
    margin: 0 auto;
}

#header{
 width: 1400px;
 height: 300px;
 margin: 0 auto;
 background-color: lightyellow;
}

#about{
  top:50px;
  float:right;
  padding-right:50px;
  font-size:20px;2
  clear:both;
 }

#leftbox{
  width: 350px;
  height: 900px;
  background-color: gray;
  float: left;
  margin-left: 50px;
}

#centerbox{
    width: 700px;
    height: 900px;
    float: left;
    background-color: red;
}

#rightbox{
   width: 350px;
   height: 900px;
   float: left;
   background-color: yellow;
}

#firstheader{
   text-align: center;
   padding-top: 50px;
}

#secondheader{
    text-align: center;
 }

#thirdheader{
    text-align: center;
}

.headers{
    text-align: center;
    font-size: 30px;
}

#reviews{
    margin: 0 auto;
    text-align: center;
}

#address{
    margin: 0 auto;
    text-align:center;
    }

#music{
        margin: 0 auto;
        text-align: center;
    }
