#wrapper{
    width: 1500px;
    height: 1000px;
    margin: 0 auto;
}

#header{
 width: 1400px;
 height: 300px;
 margin: 0 auto;
 background-color: purple;
}

#about{
  top:50px;
  float:right;
  padding-right:50px;
  font-size:40px;4
  clear:both;
 }

#leftbox{
  width: 350px;
  height: 900px;
  background-color: lightyellow;
  float: left;
  margin-left: 50px;
}

#centerbox{
    width: 700px;
    height: 900px;
    float: left;
    background-color: orange;
}

#rightbox{
   width: 350px;
   height: 900px;
   float: left;
   background-color: lightblue;
}

#header1{
   text-align: center;
   padding-top: 50px;
}

#header2{
    text-align: center;
 }

#header3{
    text-align: center;
}

.menuheader{
    text-align: center;
    font-size: 30px;
    }

#reviews{
    margin: 0 auto;
    text-align: center;
}

#social{
    margin: 0 auto;
    text-align:center;
    }
